#logForm-container {
 border-radius: 25px;
 border: 2px solid white;
 padding: 5%;
 color: white;
 background-color: grey;
 opacity: 85%;
 box-shadow: 5px 10px whitesmoke;
}

#logForm-container .social-login{
 margin: 0 auto;
 margin-bottom: 14px;
}

#logForm-container .social-btn{
 font-weight: 100;
 color: white;
 width: 190px;
 font-size: 0.8rem;
}

#logForm-container .facebook-btn {
 background-color: #3c589c;
}

#logForm-container .google-btn {
 background-color: #df4b3b;
 margin-right: 5px;
}

.social-login .btn{
 margin-bottom: 2%;
}

#logForm-container .btn-lock{
 background-color: blue;
}

#logForm-container .btn-lock:hover{
 background-color: lightblue;
}

 #logForm-container input{
  margin-bottom: 4px;
 }

@media screen and (max-width: 500px) {
 #logForm-container .social-btn {
  width: 200px;
  margin: 0 auto;
  margin-bottom: 10px;
 }

 #logForm-container .social-btn {
  font-size: 1.3rem;
  font-weight: 100;
  color: white;
  width: 200px;
  height: 56px;
 }

 #logForm-container .social-btn span{
  display: none
 }

 #logForm-container .facebook-btn:after{
  content: "Facebook"
 }

 #logForm-container .google-btn:after{
  content: "Google+"
 }
}

